@import url(//db.onlinewebfonts.com/c/0fadaa21fcac88ceee0bb8da992c221b?family=SalesforceSans-Regular);

$bg-color: #ffffff;
$icon-color: #00A1E0;
$button-color: #006dcc;
$notification-bg-color: #ecf8fe;
$dk-font-color: #032d60;
$lt-font-color: #7fffd4;
$white-font-color: #ffffff;
$black-color: #080707;
$font: 'SalesforceSans-Regular', 'Arial', sans-serif;