@import './_variables.scss';

html, body {
  margin: 0 auto;
  font-family: $font;
  background-color: $bg-color;
}

.App {
  text-align: center;
  color: $dk-font-color;
  font-weight: 700;
  font-size: 3em;
}
